# --- STM32CubeIDE / GCC ---
Debug/
Release/
*.launch
.metadata/
RemoteSystemsTempFiles/
*.o
*.d
*.elf
*.bin
*.hex
*.map
*.list
*.su
*.cyclo

# --- STM32CubeMX ---
# El fichero .ioc SI se versiona. Se ignora solo el backup automatico.
*.ioc.bak

# --- ESP-IDF ---
build/
sdkconfig.old
managed_components/
dependencies.lock

# --- Windows ---
Thumbs.db
desktop.ini
ehthumbs.db
~$*

# --- Editores y temporales ---
.vscode/
*.bak
*.tmp
*.swp
